
body {
    background-image: url("./images/floor.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: auto
  }

.teambox{
    background-color:rgba(34, 34, 34, .3);
    opacity: 0;
    z-index: 0;
}
.teamphoto{
    width: 75px;
    height: 75px;
  
    }

.nav-wrapper{
    background-color:orangered;
    font-family: 'Alfa Slab One', cursive;
}

  main {
    flex: 1 0 auto;
  }
.bannertext{
    color: white
}
.page-footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}
.page-footer{
  background-color: orangered;
color: white;
text-align: center;
}
.shadowbox{
  background: rgba(255, 255, 255, 0.3);
}
.shadowbox2{
  background: rgba(255,255,255,0.5);
  margin: 3%;

}
.bumper{
  margin: 100px;

}
.loginbanner{
  color: white;
  
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

.loginpage{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 10px 70px 10px;
  border: orangered 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}
.btn{
  margin-left: 30px;
  background-color: black
}